* {
	box-sizing: border-box;
}

body {
	font-size: 20px;
	font-weight: 600;
}

.form-wrapper {
	max-width: 900px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 300px;
	border: 3px solid;
  padding: 20px;
}

.form label{
	color: black;
	font-size: 14px;
}

.form__fieldset {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	border: none;
	padding: 0;
}

.form__fieldset-contacts label{
	text-align: left;
	margin-bottom: 5px;
}

.small {
	margin-top: 0;
}

.form__fieldset-sex {
	margin-right: 15px;
}

.form__fieldset-age {

}

.push {
	min-width: 100px;
	padding: 10px;

	text-align: left;
}

.datauser-fieldset {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.datauser {
	margin-right: 5px;
}

.wrapper {
	display: flex;
	min-width: 280px;
	justify-content: space-between;
}

.category {
	height: 30px;
}

.category-wrapper {
	align-items: center;
}

.category-wrapper p{
	margin-right: 15px;
}

.error,.success {
	font-size: 14px;
}

.error {
	border: 1px solid red;
}

.success {
	border: 1px solid green;
}

.form__fieldset-contact {
	display: grid;
	margin-bottom: 20px;
	min-height: 70px;
}

.password,.passwordCheck {
	display: grid;
}

.inputForm {
	margin-bottom: 0;
	width: 280px;
	padding: 10px 10px;
}

.errorText {
	color: red;
	font-size: 12px;
	padding-top: 5px;
}

.requiredStar {
	color: red;
}

.file-image {
	max-width: 120px;
}

.file-image img {
	max-width: inherit;
	flex: none;
	object-fit: contain;
}

.commentText {
	padding: 20px;
}